*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    --height: 68px;

    display: inline-block;
    min-width: 186px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: #2ac9bf;
    outline: none;
    border-radius: 14px;
    border: 1px solid #2ac9bf;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.section-label {
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.section-heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.section-desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}

/* Header */
.header-fixed {
    padding-top: 40px;
    position: sticky;
    top: -40px;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
}

.navbar {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 8px 20px;
    color: #2f3a3b;
    font-weight: 400;
}

.navbar__link--active,
.navbar__link:hover,
.action__link:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    display: flex;
    align-items: center;
}

.action__link {
    color: #494949;
    font-weight: 400;
}

.action__btn {
    --height: 48px;

    min-width: 108px;
    margin-left: 24px;
    font-size: 1.6rem;
    border-radius: 6px;
    color: #1ebfc1;
    background: #fff;
}

.action__btn:hover {
    color: #fff;
    background: #1ebfc1;
}

.hero {
    margin: 50px 0 104px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 39%;
    flex-shrink: 0;
}

.hero__label {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero__heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}

.hero__cta {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero__btn {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-video__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    margin-left: 50px;
    border-radius: 50%;
    color: #1ebfc1;
    background: #fff;
    box-shadow: 0px 22px 50px 0px #0000000d;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero__media {
    position: relative;
    width: 49%;
    background: #e0f7f6;
}

.hero__img {
    max-width: 100%;
    height: auto;
}

/* Hero courses */
.hero-course {
    position: absolute;
    top: 148px;
    left: -40px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 18px 24px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-course__icon {
    position: relative;
    color: #ff8282;
}

.hero-course__icon::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 4px;
    right: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
}

.hero-course__text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-course__text:last-child {
    margin-top: 8px;
}

/* Hero schedules */
.hero-schedules {
    position: absolute;
    bottom: 46px;
    left: -64px;
    width: 124px;
    padding: 16px 24px 24px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-schedules__title {
    margin-bottom: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.skeleton {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: #fb9899;
}

.skeleton:nth-of-type(1)::after {
    width: 52%;
}

.skeleton:nth-of-type(2) {
    margin-top: 12px;
}

.skeleton:nth-of-type(2)::after {
    width: 69%;
}

.skeleton:nth-of-type(3) {
    margin-top: 10px;
}

.skeleton:nth-of-type(3)::after {
    width: 44%;
}

.skeleton:nth-of-type(4) {
    margin: 16px auto 0 auto;
    width: 26px;
}

.skeleton:nth-of-type(4)::after {
    width: 0;
}

/* Hero student */
.hero-student {
    position: absolute;
    bottom: 42px;
    right: 44px;
    padding: 16px 34px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-student__title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-student__images {
    margin-top: 8px;
    display: flex;
}

.hero-student__img,
.hero-student__more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -7px;
    background: #1ebfc1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.hero-student__img:nth-child(1) {
    background: #1ebfc1;
    margin-left: 0;
}

.hero-student__img:nth-child(2) {
    background: #ffc147;
}

.hero-student__img:nth-child(3) {
    background: #ff947a;
}

.hero-student__img:nth-child(4) {
    background: #bf83ff;
}

/* Feature */
.feature {
    padding: 104px 0 65px 0;
}

.feature__heading {
    width: 577px;
}

.feature__desc {
    margin-top: 18px;
    width: 590px;
}

.feature__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
}

.feature-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 106px;
    border-radius: 18px;
    color: #fff;
    background: #ffc147;
}

.feature-item:nth-child(2) .feature-item__icon {
    background: #ff947a;
}

.feature-item:nth-child(3) .feature-item__icon {
    background: #bf83ff;
}

.feature-item__title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature-item__desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

.feature-item:first-child .feature-item__desc {
    max-width: 168px;
}

.feature-item:nth-child(2) .feature-item__desc {
    max-width: 223px;
}

.feature-item:nth-child(3) .feature-item__desc {
    max-width: 224px;
}

/* Course */
.course {
    padding: 65px 0 130px 0;
}

.course__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.course__desc {
    margin-top: 18px;
    width: 525px;
}

.course__view-more {
    display: inline-block;
    padding-bottom: 22px;
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.course__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.course-item__thumb {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.course-item__thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #d0efed59;
    transition: opacity 0.25s;
}

.course-item:hover .course-item__thumb::after {
    opacity: 0;
}

.course-item__img {
    display: block;
    width: 100%;
    height: 393px;
    object-fit: cover;
}

.course-item__content {
    position: relative;
    z-index: 1;
    margin: -70px 18px 0 18px;
    padding: 18px 24px 28px 24px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-item__title,
.course-item__fee strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course-item__fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.course-item__desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.course-item__info {
    display: flex;
    column-gap: 10px;
    margin-top: 18px;
}

.course-item__info-stat {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course-item__info-stat::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

/* Stats */
.stats {
    padding: 130px 0;
}

.stats__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.stat-item {
    padding: 0 24px;
    text-align: center;
}

.stat-item__number {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.stat-item__desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Feedback */
.feedback {
    padding: 130px 0;
}

.feedback-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-item__content {
    width: 36%;
}

.feedback-item__media {
    position: relative;
    width: 58%;
    height: 480px;
}

.feedback-item__quote {
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.feedback-item__quote::before {
    content: "";
    display: block;
    width: 36px;
    height: 29px;
    margin-bottom: 28px;
    background-image: url(../icons/double-quotation.svg);
}

.feedback-item__name {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 32px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback-item__name::before {
    content: "";
    display: block;
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback-item__name-strong {
    color: #070707;
    font-weight: 500;
}

.control {
    display: flex;
    column-gap: 30px;
    margin-top: 52px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background: #2ac9bf;
    border: none;
    outline: none;
}

.control__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.control__btn-next {
    display: inline-block;
    rotate: 180deg;
}

.feedback-item__avatar {
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #ffc147;
}

.feedback-item__avatar--active {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
    background: #ff8282;
}

.feedback-item__avatar:first-child {
    left: 0;
    bottom: 145px;
}

.feedback-item__avatar:nth-child(3) {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
    background: #1ebfc1;
}

.feedback-item__avatar:nth-child(4) {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
    background: #bf83ff;
}

.feedback-item__avatar:nth-child(5) {
    right: 32px;
    bottom: 29px;
    background: #b1dfdc;
}

.feedback-item__avatar:nth-child(6) {
    bottom: 0;
    left: 212px;
    background: #ff947a;
}

/* Subscribe */
.subscribe {
    padding: 76px 0 88px 0;
    background: #def6f5;
}

.subscribe__inner {
    display: flex;
    align-items: center;
}

.subscribe__desc {
    margin-top: 18px;
}

.subscribe__cta {
    margin: 0 154px 0 auto;
}

/* Footer */
.footer {
    padding: 130px 0 50px 0;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 144px;
}

.footer__heading {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer__list {
    margin-top: 25px;
}

.footer__link {
    display: block;
    margin-top: 20px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer__link:hover {
    opacity: 0.9;
}

.footer__social-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 18px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer__social-icon {
    color: #0b120b;
}

.footer__copyright {
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
